h1 Log in

= form_for(:session, :html => {class: "form-horizontal", role: 'form'}, url: login_path) do |f|
  .form-group
    .control-label.col-sm-2
      = f.label :email
    .col-sm-8
      = f.email_field :email, class: "form-control", placeholder: "Enter email", autofocus: true
  .form-group
    .control-label.col-sm-2
      = f.label :password
    .col-sm-8
      = f.password_field :password, class: "form-control", placeholder: "Enter password"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "Log in", class: "btn btn-primary btn-lg"
