= render 'shared/errors', obj: @user
.row
  .col-xs-12
    = form_for(@user, :html => {class: "form-horizontal"}, role: 'form') do |f|
      .form-group
        .control-label.col-sm-2
          = f.label :name
        .col-sm-8
          = f.text_field :name, class: "form-control", placeholder: "Enter username", autofocus: true
      .form-group
        .control-label.col-sm-2
          = f.label :email
        .col-sm-8
          = f.email_field :email, class: "form-control", placeholder: "Enter email"
      .form-group
        .control-label.col-sm-2
          = f.label :password
        .col-sm-8
          = f.password_field :password, class: "form-control", placeholder: "Enter password"
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit(@user.new_record? ? 'Sign up' : 'Update user', class: "btn btn-primary")
          = ' '
          = link_to "Cancel", routes_path, class: "btn btn-default"

