h2 Users

table.table.table-condensed.table-hover
  thead
    tr
      th Name
      th Email
      th Orders
      th Totall
  tbody
  - @users.each do |user|
    tr
      td
        = link_to "#{user.name}", user
      td= user.email
      td= user.orders.count
      td
      td
        = link_to 'Show', user, class: 'btn btn-success btn-xs'
      td
        = link_to 'Edit', edit_user_path(user), class: 'btn btn-warning btn-xs'
      td
        = link_to 'Delete', user, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-xs'
