.panel.panel-default
  .panel-heading = "Hello, #{@user.name}!"
  .panel-body
    dl.dl-horizontal
      dt Name
      dd= @user.name
      dt Email
      dd= @user.email
    table.table
      thead
        th Order id
        th Route
        th Date
        th Totall
      tbody
      - @user.orders.each do |order|
        - order.routes.each do |route|
          tr
            td= order.id
            td= "#{route.start} - #{route.finish}"
            td= order.created_at
            td= route.price
          / td= "#{route.start} - #{route.finish}"