= render 'shared/errors', obj: @route
= form_for(@route, :html => {class: "form-horizontal" }) do |f|
  .form-group
    = f.label :start, class: "col-sm-2 control-label"
    .col-sm-6  
      = f.text_field :start, class: "form-control"
  .form-group
    = f.label :finish, class: "col-sm-2 control-label"
    .col-sm-6  
      = f.text_field :finish, class: "form-control"
  .form-group
    = f.label :departure, class: "col-sm-2 control-label"
    .col-sm-6  
      = f.datetime_field :departure, class: "form-control"
  .form-group
    = f.label :arrival, class: "col-sm-2 control-label"
    .col-sm-6  
      = f.datetime_field :arrival, class: "form-control"
  .form-group
    = f.label :price, class: "col-sm-2 control-label"
    .col-sm-6  
      = f.number_field :price, class: "form-control"
  .form-group
    = f.label :Seats, class: "col-sm-2 control-label"
    .col-sm-6  
      = f.number_field :seats, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
      = ' '
      = link_to "Cancel", routes_path, class: "btn btn-default"