.panel.panel-default
  .panel-heading Welcome to iBus
  .panel-body
    p
      |
        Praesent bibendum a nunc vitae tempus. In aliquet urna vitae elementum
        pretium. Aliquam eu venenatis risus, vel sodales justo. Suspendisse eget
        lacus urna. Aliquam auctor magna ornare lorem ornare, nec volutpat
        tortor consectetur. Interdum et malesuada fames ac ante ipsum primis in
        faucibus. Vivamus vitae odio feugiat est vehicula pretium at a odio.
        Nulla auctor ipsum enim. Morbi vestibulum lectus ac purus pulvinar, sed
        finibus nisl imperdiet. Nullam laoreet mauris nisl, ut vehicula est
        aliquet bibendum. Nulla tristique rutrum arcu sit amet interdum. Nunc
        blandit tristique tincidunt. Aenean tincidunt justo massa,
        vitae condimentum nisl interdum sed.

h3 Available routes
hr
.filter-items
  .col-sm-6
    strong Departure from:
    - @departure_cities.each do |city|
      = link_to city, routes_path(departure_city: city), class: 'btn btn-xs btn-default'
  .col-sm-6
    strong Arrival to:
    - @arrival_cities.each do |city|
      = link_to city, routes_path(arrival_city: city), class: 'btn btn-xs btn-default'
    = link_to 'Clear filter', routes_path, class: "pull-right"
br
hr
table.table.table-condensed.table-hover
  thead
    tr
      th Route
      th Departure
      th Arrival
      th Seats
      th Price
  tbody
  - @routes.each do |route|
    tr
      td
        = link_to "#{route.start} - #{route.finish}", route
      td= route.departure_time
      td= route.arrival_time
      td= route.seats
      td= route.price
      td
        = link_to 'Show', route, class: 'btn btn-success btn-xs'
      - if logged_in? && current_user.admin?
        td
          = link_to 'Edit', edit_route_path(route), class: 'btn btn-warning btn-xs'
        td
          = link_to 'Delete', route, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger btn-xs'

