.well
  = "#{@route.start} - #{@route.finish}"
dl.dl-horizontal
  dt From
  dd= @route.start
  hr
  dt To
  dd= @route.finish
  hr
  dt Departure
  dd= @route.departure
  hr
  dt Arrival
  dd= @route.arrival
  hr
  dt Price
  dd= @route.price
  hr
  dt Free seats available
  dd= @route.seats

= link_to 'Book now', order_path(route: @route.id), class: 'btn btn-success btn-block btn-lg '
