nav.navbar.navbar-default
  .container-fluid
    /! Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'iBus', routes_path, class: 'navbar-brand'
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - if logged_in?
          li
            = link_to 'Log out', logout_path, method: :delete 
          li.dropdown
            a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
              | Actions
              span.caret
            ul.dropdown-menu
              - if current_user.admin?
                li
                  = link_to 'Create new route', new_route_path
              li
                = link_to 'Edit profile', edit_user_path(current_user)
              li
                = link_to 'Your orders', current_user
              li
                = link_to 'Users', users_path
              li.divider role="separator" 
              li
                a href="#"  Separated link
        - else
          li
            = link_to 'Log in', login_path
          li
            = link_to 'Sign up', sign_up_path